@import './reset';
@import './mixin';
@import './variables';
@import 'element-plus/theme-chalk/dark/css-vars.css';

:root {
  --left-menu-max-width: 200px;
  --left-menu-min-width: 74px;

  --logo-height: 50px;
  --top-header-hover-color: #f6f6f6;
  --top-header-text-color: 'inherit';
  --top-tool-height: var(--logo-height);

  --tags-view-height: 35px;

  --app-content-padding: 20px;
  --app-content-bg-color: #f5f7f9;
  --transition-time-02: 0.2s;
}

html body,
#app {
  position: relative;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: auto;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  @include base-scrollbar;
}
