@import './reset';
@import './mixin';
@import './variables';

:root {
  --transition-time-02: 0.2s;
  --top-header-hover-color: #f6f6f6;
  --top-header-text-color: 'inherit';

  --logo-height: 50px;
  --top-tool-height: var(--logo-height);
}

html body,
#app {
  position: relative;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: auto;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  @include base-scrollbar;
}
